{% extends "todoapp/base.html" %}

{% block content %}
{% for task in tasks %}
                    <div class="task">
                        <p>{{ task.task}}</p>
                        {% if task.is_done %}
                            <b>Gotowe</b>
                        {% else %}
                            <i>Do zrobienia</i>
                        {% endif %}
                    </div>
{% endfor %}
{% endblock content %}